<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryms.airlinemanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirlineManagement">
        <activity android:name=".User.UserMenu"
            android:exported="true">
        </activity>
        <activity android:name=".Employee.QrCodeScanner" />
        <activity
            android:name=".Employee.EmployeeMenu"
            android:exported="true" />
        <activity
            android:name=".User.TicketDetails"
            android:exported="true" />
        <activity android:name=".User.TicketHistory.TicketHistory"
            android:exported="true"/>
        <activity android:name=".User.Booking" />
        <activity android:name=".Signup" />
        <activity android:name=".User.FlightSearch" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>